/** Variables **/

$PrimaryColor: white;
$SecondaryColor1:  rgb(51, 48, 48);
$SecondaryColor2: rgb(57, 57, 192);

$DarkerSecondaryColor: rgb(36, 36, 148);
$DarkerPrimaryColor: rgb(243, 243, 243);

$PrimaryFontColor: rgb(51, 48, 48);
$SecondaryFontColor: rgb(251, 251, 251);

/** Mixins **/
@mixin flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/** Web Fonts **/

@font-face {
  font-family: 'for-logo';
  src: url('fonts/for-logo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/** HTML elements **/

body {
  max-width: 760px;
  width: 100%;
  margin: 0px auto;

  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

input[type=text]{

}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;

  background-color: $PrimaryColor;
  border: 1px solid grey;
  border-radius: 80%;
  padding: 5px 10px;
  

  img {
    width: 10px;
    height: 10px;
  }
  &:hover {
    background-color: $DarkerPrimaryColor;
    transition: background-color 0.15s;
  }
}

/** React Components **/

.Header {
  @include flex();

  background-color: $SecondaryColor2;
  color: $SecondaryFontColor;
  
  padding: 10px 40px;
}

.Logo {
  font-family: 'for-logo';
  font-size: 32px;

  flex: 1 1 460px;
}

.BookSearch {
  @include flex;

  margin: 10px;

  input {
    border: 1px solid grey;
    padding: 5px;
    width: 90%;
    border-radius: 50px;
  }
}

.SectionTitle {
  background-color: $SecondaryColor2;
  color: $SecondaryFontColor;
  border-radius: 0px;
}

.Recommendations {
  @include flex();
  flex-direction: row;

  background-color: $PrimaryColor;
  color: $PrimaryFontColor;
}

.LeftRightContainer {
  width: 100%;
  @include flex;
  .left,
  .right {
    width: 100%;
  }
  .right {
    text-align: right;
  }
}


.Book {
  width: 20%;
  margin: 5px;
  padding: 5px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
  .bookInfo {
    @include flex();
    flex-direction: column;
    
    img {
      max-width:10px;
    }
    .title {
      width: 100%;
      font-size: 13px;
      color: $PrimaryFontColor;
    }
    .LeftRightContainer {
      font-size: 10px;
      color: rgb(53, 53, 53);
    }
  }
  &:hover {
    background-color: $DarkerPrimaryColor;
    transition: background-color 0.15s;
  }
}

.News {
  background-color: $SecondaryColor2;
  color: $SecondaryFontColor;

  padding: 1px;
  margin: 30px;

  .LeftRightContainer {
    .left,
    .right {
      padding: 5px;
    }
  }
  .content {
    p {
      margin: 0;
    }
    background-color: $PrimaryColor;
    color: $PrimaryFontColor;
    margin: 0;
    padding: 10px;
  }
}

/** Other **/

.linkBox {
  background-color: $SecondaryColor2;
  color: $SecondaryFontColor;
  padding: 10px;
  border-radius: 5px;

  &:hover {
    background-color: $DarkerSecondaryColor;
    transition: background-color 0.15s;
  }
}